:root {
  --bg-color: #f3efec;
  --text-color: #312a4e;
  --text-color-transparent: #312a4e80;
  --accent-color: #ffab6b;
  --main-font: Raleway;
  --accent-font: 'STIX Two Text';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color, #f3efec);
  color: var(--text-color, #312a4e);
  font-family: var(--main-font, Raleway), sans-serif;
}

.header {
  padding-top: 10vw;
}

.heading {
  font-family: var(--accent-font, 'STIX Two Text'), serif;
  line-height: 90%;
  font-weight: 600;
  letter-spacing: 0;
  text-align: center;
}

.content-section {
  padding-left: 5vi;
  padding-right: 5vi;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-bottom: 40px;
}

.content__title {
  font-size: 30px;
  margin-bottom: 2.5vw;
  margin-top: 6.5vw;
}

.content__text-block {
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0;
}

.content__text-block .content__paragraph:not(:last-child) {
  margin-bottom: 1.5em;
}

.content__text-block_type_first-lettered
  .content__paragraph:first-child::first-letter {
  display: inline-block;
  background-color: var(--accent-color);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 30%;
  padding: 0 4px;
  margin-right: 5px;
}

.content__link {
  color: inherit;
  outline-offset: 1px;
}

.content__link:focus {
  outline: 1px solid var(--text-color);
}

.content__link:hover {
  text-decoration-color: var(--text-color-transparent);
}

.content__blockquote {
  width: 75%;
  font-size: 18px;
  font-style: italic;
  line-height: 200%;
  margin: 0 auto 1.5em;
}

.content__list {
  list-style: none;
  padding: 0;
}

.content__list-element {
  position: relative;
  padding-left: 40px;
}

.content__list-element:not(:last-child) {
  margin-bottom: 10px;
}

.content__list-element::before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 15px;
  top: 3px;
}

.content__figure {
  width: calc(100% + 10vi);
  margin: 7% auto;
  position: relative;
  right: 5vi;
}

.content__picture {
  width: 100%;
}

.content__picture-caption {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.content__card {
  aspect-ratio: 4 / 3;
  margin: 7% auto;
  border: 1px solid var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  background-color: var(--accent-color);
  height: 0.5ch;
  width: calc(100% + 8px);
  position: absolute;
  right: -4px;
  bottom: 0.3ch;
  z-index: -1;
}

.header__theme-toggler {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__theme-button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  color: var(--text-color);
  font-size: 18px;
  line-height: 104%;
  padding: 0;
  cursor: pointer;
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:focus {
  outline: 1px solid var(--text-color);
}

.header__theme-button:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-color-transparent);
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  background-color: var(--accent-color);
  height: 0.5ch;
  width: calc(100% + 6px);
  position: absolute;
  right: -3px;
  bottom: 3px;
  z-index: -1;
}

.footer {
  margin-top: 10%;
  padding: 2.5%;
  border-top: 1px solid var(--text-color);
}

.footer__copyright {
  text-align: center;
  font-size: 18px;
}
